/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

blockquote,
q {
	quotes: "" "";

	&::before,
	&::after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}

/* LINKS */
a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

/* LISTS */

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* TABLES */

table {
	margin: 0 0 1.5em;
	width: 100%;
}

.my-preloader {
	height: 100vh;
	position: fixed;
	width: 100vw;
	background: $color__background-body;
	z-index: 99999;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in;
	opacity: 1;

	.preloader-content {
		background: url(../dist/img/20dawgloader.png) no-repeat;
		display: block;
		height: 10em;
		width: 10em;
		background-size: contain;
		background-position: center;
		animation: mymove 1.5s infinite;
	}
}

@keyframes mymove {
	0% {
		transform: scale(1.1);
		opacity: 0;
	}

	50% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		transform: scale(1.1);
		opacity: 0;
	}
}

.my-preloader-off {
	opacity: 0;
}

.my-preloader-none {
	display: none;
}

.site {
	opacity: 0;
	transition: all 0.3s ease-in;
}

#page {
	opacity: 0;
}

.page-loaded {
	opacity: 1 !important;
}

.font-outline {
	color: #000;
	-webkit-text-stroke: 1px white;
}
